<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Chen et. al.</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="map-container">
          <div class="map-frame">
            <div id="map"></div>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="sidebar">
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-title>Stay points</ion-card-title>
                <ion-item>
                  <ion-label>Time in minutes:</ion-label>
                  <ion-input (ionChange)="changeTimeThreshold($event)" value={{timeThreshold}} placeholder="time threshold"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Distance in meters:</ion-label>
                  <ion-input (ionChange)="changeDist1Threshold($event)" value={{distance1Threshold}} placeholder="distance threshold" ></ion-input>
                </ion-item>
                <ion-button
                  color="success"
                  expand="block"
                  (click)="calculateStayPoints()"
                >
                  Calculate stay points
                </ion-button>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card>
                <ion-card-title>Clusters</ion-card-title>
                <ion-item>
                  <ion-label>Distance in meters:</ion-label>
                  <ion-input (ionChange)="changeDist2Threshold($event)" value={{distance2Threshold}} placeholder="Distance threshhold"></ion-input>
                </ion-item>
                <ion-button
                  color="success"
                  (click)="calculateClusters()"
                  expand="full"
                >
                  Calculate clusters
                </ion-button>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>
        <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
        <div *ngIf="user" class="sidebar">
          <ion-card *ngIf="user.filteredT">
            <ion-card-header>
              <ion-card-subtitle>
                <!-- Von {{user.filteredT[0][0].date.toLocaleString('de-DE', { timeZone:'Asia/Shanghai'}) }} bis {{user.filteredT[user.filteredT.length][0].date.toLocaleString('de-DE', { timeZone:'Asia/Shanghai'}) }}  -->
              </ion-card-subtitle>
              <ion-card-title>
                <p>
                  Messwerte Insgeamt: <b>{{this.allPoints.features.length}}</b>
                </p>
                <p>
                  Entdeckte Stay points: <b>{{stayPoints.length}}</b>
                </p>
                <p *ngIf="countClusters">
                  Entdeckte Cluster: <b>{{countClusters}}</b>
                </p>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content> </ion-card-content>
          </ion-card>
          <ion-card>
            <table>
              <tr>
                <th>Cluster Id</th>
                <th>Centroid</th>
                <th>Number of staypoints</th>
                <th>Number of measurements</th>
              </tr>
              <tr *ngFor="let cluster of arrayPerCluster" [ngStyle]="{'color':cluster.stayPoints[0].properties.color}">
                <td>{{cluster.clusterId}}</td>
                <td>{{cluster.hull.geometry.coordinates[0][0]}}</td>
                <td>{{cluster.stayPoints.length}} </td>
                <td>{{cluster.pointsWithin.features.length}} </td>
              </tr>
            </table>
          </ion-card>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
