html, body, .map-container {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
body {
  /* height of .navbar, customize with @navbar-height variable */
  padding-top: 50px;
}
.navbar {
  min-height: 50px;
}
#sidebar {
  float: left;
  height: 80%;
  max-width: 100%;
  width: 350px;
  position: absolute;
  z-index:1000;
  margin-top:8rem;
  margin-left:2rem;
  box-shadow : 2px 2px lightgrey;
  overflow:auto;
}
#map {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: auto;
}
.sidebar-wrapper {
  height: 100%;
  position: relative;
  width: 98%;
}
@media (max-width: 767px) {
#sidebar {
  display: none;
}
}
