<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Chen et. al.</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Upload trajectory</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button color="danger" expand="block" (click)="clearMap()"
          >Clear map</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button
          color="success"
          expand="block"
          (click)="calculateStayPoints()"
          >Calculate stay points</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="map-container">
          <div class="map-frame">
            <div id="map"></div>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div *ngIf="user" class="sidebar">
          <ion-label>Trajectories:</ion-label>
          <ion-list>
            <ion-card *ngFor="let trajectory of user.filteredT">
              <ion-card-header>
                <ion-card-subtitle>{{ trajectory.length }} total points</ion-card-subtitle>
                <ion-card-title>
                  {{ trajectory[0].date.toLocaleString('de-DE',
                  {timeZone:'Asia/Shanghai'}) }} till {{
                  trajectory[trajectory.length-1].date.toLocaleString('de-DE',{timeZone:'Asia/Shanghai'}) }}</ion-card-title
                >
              </ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-icon name="pin" slot="start"></ion-icon>
                  <ion-button size="large" color="primary" fill="outline" slot="end" (click)="loadToMap(trajectory)">View</ion-button>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
